@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dongle:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Zen+Kurenaido&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  height: auto;
  width: 100%;
}

#__nuxt {
  height: auto;
  width: 100%;
}

#__layout {
  height: auto;
  width: 100%;
}
